.vscode/
node_modules/
src/core
src/struct
src/index.ts
build/
util/
types/
.DS_Store
*.env
.prettierrc.json
.eslintignore
.eslintrc.json
.gitignore
.gitmodules
.prettier.json
tsconfig.eslint.json
tsconfig.json
